*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(53, 59, 80) ;
}

h1{
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.278); 
 background-color: rgb(129, 7, 242);
 font-size: 3.5em;
 color: #ffffffff;
padding: 10px 10px 10px 30px;
}

h1 > span {
    background-color: #ffffffff;
    border-radius: 3px;
}

div#principal{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    border-radius: 5px;
    background-color: rgb(33, 36, 47);
}

#email-cpf {
margin: 90px 65px 5px 55px;
border-radius: 5px;
width: 300px;
height: 30px;

}

#senha {
    
    border-radius: 5px;
    margin: 5px 65px 5px 55px;
    width: 300px;
    height: 30px;
}

#entrar {
    font-size: 18px;
    font-weight: bold;
    color: #ffffffff;
    background-color: rgb(129, 7, 242);
    border-radius: 5px;
    margin: 20px 56px 5px 56px;
    width: 302px;
    height: 33px;
}

 #entrar:hover {
    border: 1px;
    
}

p{
    margin-top: 20px;
   
    text-align: center;
}
p > a {
    color: #ffffffff;
}